@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/Averta-Semibold.woff2') format('woff2'),
        url('/assets/fonts/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/Averta-Regular.woff2') format('woff2'),
        url('/assets/fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/Averta-Bold.woff2') format('woff2'),
        url('/assets/fonts/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/Averta-Regular.woff2') format('woff2'),
        url('/assets/fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/Averta-Regular.woff2') format('woff2'),
        url('/assets/fonts/Averta-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/Averta-Bold.woff2') format('woff2'),
        url('/assets/fonts/Averta-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Averta';
    src: url('/assets/fonts/Averta-Semibold.woff2') format('woff2'),
        url('/assets/fonts/Averta-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

